
data/
datasets/
images/
labels/
*.jpg
*.jpeg
*.png
*.gif
*.bmp

checkpoints/
*.pth
*.pt
*.ckpt
*.h5
*.weights

results/
cv_results/
ablation_results/
outputs/
logs/


__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


venv/
env/
ENV/
.venv/

.ipynb_checkpoints/
*.ipynb_checkpoints

inference.py